@media screen  and (min-width: 341px){
.titleHomePage{
    text-align: center;
    font-size: large;
    padding-right: 20%;
  
}
}
@media screen  and (max-width: 340px){
    .titleHomePage{
        text-align: center;
        font-size: large;
        width: 200px;
        padding-right: 10%;
      
    }
}