@media screen  and (min-width: 341px){
.Body{
   
    height: 70%;
    flex-grow: 1;
    min-height: 400px;
}
.Container{
    display: flex;
    flex-direction: row; 
    width: auto;
    padding-top: 4%;
   
}
.LeftBar{
    height: 100%;
    min-width: 20%;
    padding-right:10px;
    text-align: left;
}
.Layout{
    display: flex;
    flex-direction: column;
}
.NavBar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
}
@media screen  and (max-width: 340px){
    .Body{
   
        height: 70%;
        flex-grow: 1;
        min-height: 400px;
    }
    .Container{
        display: flex;
        flex-direction: row; 
        width: auto;
        padding-top: 18%;
       
    }
    .LeftBar{
        height: 100%;
        min-width: 20%;
        padding-right:10px;
        text-align: left;
    }
    .Layout{
        display: flex;
        flex-direction: column;
    }
    .NavBar{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
}