@media screen  and (min-width: 341px){
.borderCircle {
    border-radius: 10% 30% 50% 70%;
    max-height:244;
    max-width:294;
  }
  .Card{
    width: "300px" ;
  }
  .CardQuote{
    padding-left: 10%;
  }
  .CardRepost{
    padding-left: 10%;
  }
  .Repost{
    border-radius: 9999px;
  }
}
  @media screen  and (max-width: 340px){
      .Card{
          width: "200px" ;
        }
    .borderCircle {
        border-radius: 10% 30% 50% 70%; 
        width: 150px;
        height: 130px;
      }
      .CardText{
        font-size: small;
      }
      .CardQuote{
        padding-left: 10%;
      }
      .Repost{
        border-radius: 9999px;
        width: 90px;
        height: 90px;
      }
      .Quote{
        width: 90px;
        height: 90px;
      }
}